{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="padding: 50px; text-align: 'center';">
	<h1>Variant Report Viewer</h1>
	{% if user.is_authenticated %}
	<p>Hello, {{ user.first_name }}!</p>
	{% endif %}
</div>
<div class="container" style="padding: 50px; background-color: #BBB; border-radius: 15px;  -webkit-border-radius: 15px; -moz-border-radius:15px;">
	<p>
		The purpose of this tool is to provide a way to store, organize, view, and
		hopefully<i>search</i> Variant data from user-uploaded files.  Each "Study"
		(e.g. a single patient, VIP, etc.) can contain many Samples.  Each of these
		samples may be represented by one or many Bionimbus IDs.  The comparison
		of 2 samples, such as a Tumor/Normal pair, results in a Variant Report.
	</p>
	<p style="text-align: center"><a href="/viewer/register/">Register Here</a></p>

</div>
<div class="container">
	<p>
	</p>
</div>


{% endblock %}
