{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Create a new Sample</h2>
	<form action="/viewer/new_sample/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ sample_form.as_table }}
		</table>
		<input type="submit" value="Create" />
	</form>
	<br>
</div>
<hr>
<div class="container" style="text-align: 'center'">
	<h3>Available Samples:</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Study</th>
				<th>Sample</th>
				<th>Description</th>
				<th>Creation Date</th>
			</tr>
		</thead>
		<tbody>
			{% for s in samples %}
				<tr>
					<td>{{s.study}}</td>
					<td>{{s.name}}</td>
					<td>{{s.description}}</td>
					<td>{{s.creation_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
