{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Create a new Study</h2>
	<form action="/viewer/new_study/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ study_form.as_table }}
		</table>
		<input type="submit" value="Create" />
	</form>
	<br>
</div>
<hr>
<div class="container" style="text-align: 'center'">
	<h3>Available Studies:</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Study Name</th>
				<th>Description</th>
				<th>Created On</th>
			</tr>
		</thead>
			<tbody>
				{% for s in studies %}
				<tr>
					<td>{{s}}</td>
					<td>{{s.description}}</td>
					<td>{{s.creation_date}}</td>
				</tr>
				{% endfor %}
			</tbody>
	</table>
</div>

{% endblock %}
