{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Create a new BionimbusID</h2>
	<form action="/viewer/new_bionimbus_id/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			{{ bnid_form.as_table }}
		</table>
		<input type="submit" value="Create" />
	</form>
	<br>
</div>
<hr>
<div class="container" style="text-align: 'center'">
	<h3>Available Bnids:</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Study</th>
				<th>Sample</th>
				<th>Description</th>
				<th>BionimbusID</th>
				<th>Description</th>
				<th>Creation Date</th>
			</tr>
		</thead>
		<tbody>
			{% for b in bnids %}
			<tr>
				<td>{{b.sample.study}}</td>
				<td>{{b.sample.name}}</td>
				<td>{{b.sample.description}}</td>
				<td>{{b.bnid}}</td>
				<td>{{b.description}}</td>
				<td>{{b.creation_date}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
