{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="padding: 50px; text-align: 'center';">
	<h1>VCF viewer</h1>
</div>
<div class="container" style="padding: 50px; background-color: #BBB; border-radius: 15px;  -webkit-border-radius: 15px; -moz-border-radius:15px;">
	<p>
	Attention:  You do not have permission to access the requested page.  Please <a href='mailto:jgrundstad@uchicago.edu'>email the site admins to request access.</a>
	</p>
</div>
<div class="container">
	<p>
	</p>
</div>


{% endblock %}
