{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="padding: 50px; text-align: 'center';">
	<h1>VCF viewer</h1>
	{% if user.is_authenticated %}
	<p>Hello, {{ user.first_name }}!</p>
	{% endif %}
</div>
<div class="container" style="padding: 50px; background-color: #BBB; border-radius: 15px;  -webkit-border-radius: 15px; -moz-border-radius:15px;">
	<p>
	The purpose of this tool is to provide a way to store, organize, view, and hopefully <i>search</i> VCF data from user-uploaded files.  Each "Case" (e.g. a single patient, VIP, etc.) can contain many Samples.  Each of these samples may be represented by one or many Bionimbus IDs.  The comparison of 2 samples, such as a Tumor/Normal pair, results in a VCF.
	<p style="text-align: center"><a href="/viewer/register/">Register Here</a></p>
	</p>
</div>
<div class="container">
	<p>
	</p>
</div>


{% endblock %}
