{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Create a new BionimbusID</h2>
	<form action="/viewer/new_bionimbus_id/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ bnid_form.as_p }}
		<input type="submit" value="Create" />
	</form>
	<br>
</div>
<hr>
<div class="container" style="text-align: 'center'">
	<h3>Available Bnids:</h3></lh>
	<table class="table table-hover">
		<tr><th>Case</th><th>Sample</th><th>BionimbusID</th></td>
		{% for b in bnids %}
		<tr><td>{{b.sample.case}}</td><td>{{b.sample.name}}</td><td>{{b}}</td></tr>
		{% endfor %}
	</table>
</div>

</div>
{% endblock %}
