{% extends "viewer/base.html" %}

{% block content %}
<div class="container" style="text-align: 'center'">
	<p>
	<h2>Create a new Case</h2>
	<form action="/viewer/new_case/" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ case_form.as_p }}
		<input type="submit" value="Create" />
	</form>
	<br>
</div>
<div class="container" style="text-align: 'center'">
	<h3>Current list of Cases:</h3></lh>
	<ul>
	{% for c in cases %}
	<li>{{c}}</li>
	{% endfor %}
	</ul>
</div>

</div>
{% endblock %}
